body {
    font-family: "lobster, cursive";
    align-content: center;      
    color: rgb(211, 31, 142); 
    font-weight: 700;     
    font-size: 40px;
    text-align:center;
    vertical-align:center;
    line-height: 56px;  
}

h1 {
    font-size: 56px;
    font-family: cursive;
    color: rgb(215, 230, 14);
  }

 .container {
    display: flex;
    justify-content: center;
    background-color: rgb(158, 14, 127);   
} 

#color {
  color: rgb(161, 231, 31);
}

  .center {      
    width: 1024px;
    height: 568px;
    padding-top: 200px;      
    background-image: url("image001.jpg");
    background-repeat: no-repeat;
  }


  #won {
    color: rgb(6, 125, 141);
    font-size: 46px;
  }

  #lost {
    color: rgb(255, 174, 0);
    font-size: 46px;
  }

  #attempts {
    color: rgb(0, 77, 128);
    font-size: 46px;
  }

  #userGuess {
    color: blue;
    font-size: 46px;
  }

